#Common Libraries
requests
click
jupyter
notebook
ipykernel
autopep8
#Data Science Libraries
pandas
numpy
scikit-learn
statsmodels
matplotlib
seaborn
#Optional Libraries
jupyter_contrib_nbextensions
jupyterthemes
jupyter-tabnine